@font-face {
    font-family: 'Patsy';
    src: url("fonts/PatsySans.otf")
}

@font-face {
    font-family: 'futurealight';
    src: url("fonts/futura\ light\ bt.ttf")
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #080808;
}
#spacing {
    display: flex;
    height: 150px;
}

.navbackground {
    z-index: 1;
    margin-top: -130px;
    position: fixed;
    width: 100%;
}

.navbackground img{
    width: 100%;
    height: 460px;
}

.see{
    position: fixed;
    z-index: -1;
    width: auto;
    height:auto;
    margin-top: -50px;
    transition: 0.5s;
}

.see.is-active{
    display:none;
}

nav{
    width: 100%;
    display: flex !important;
    position: fixed;
    top: 0;
    align-items: center !important;
    justify-content: space-between;
    flex-direction: column;
    transition: background-color 0.4s ease-in-out;
    font-family: 'patsy', sans-serif;
    z-index: 2;
    padding-bottom: 10px;
    transition: 0.5s;
}

.navbar.is-active{
    width: 100%;
    display: flex !important;
    position: fixed;
    top: 0;
    align-items: center !important;
    justify-content: space-between;
    flex-direction: column;
    transition: background-color 0.4s ease-in-out;
    font-family: 'patsy', sans-serif;
    z-index: 2;
    padding-bottom: 10px;
    transition: 0.5s;
}



.logo {
    width: 400px;
    margin-bottom: 20px;
    margin-top: 40px;
    transition: 0.5s;
}



nav ul li{
    display: inline-block !important;
    list-style: none;
    margin: 10px 20px;
    padding-right: 10px;
    padding-left: 10px;
}

nav ul li a{
    color: #A3B5C1;
    text-decoration: none;	
    font-size: 18px;
    transition: .3s;
    letter-spacing: 3px;
}

nav ul li a:hover,
nav a.active {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
}

.hamburger {
    position: relative;
    display: none;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin-top: -10px;
}

.hamburger .bar, .hamburger::after, .hamburger::before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #A3B5C1;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar{
    opacity: 0;
}


.navbarcheck {
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: none;
    align-items: center !important;
    flex-direction: column;
    transition: 0.4s;
}

.navbarcheck.is-active{
    display: flex;
}

.navbarcheck ul{
    margin-top: 190px;
}

.navbarcheck ul li{
    list-style: none;
    margin: 10px 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding: 10px;
    text-align: center;
    font-family: 'Patsy';
}

.navbarcheck ul li a{
    color: #A3B5C1;
    text-decoration: none;	
    font-size: 30px;
    transition: .3s;
    letter-spacing: 3px;
}
   
  .navbarcheck ul li a:hover,
  .navbarcheck a.active{
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
  }

@media only screen and (max-width: 1048px) {
    nav ul {
        display: none;
    }
    .hamburger {
        display: block;
    }
}






.testing{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text{
    display: grid;
    font-size: 24px;
    grid-template-rows: 1fr auto 1fr;
    font-family: 'futurealight'!important;
}

.text1{
    margin-left: -170px;
}

.text2{
    text-align: right;
    grid-row: 3;
    margin-right: 40px;
}

.test2{
    max-width: 379px;
    grid-column: 3;
    margin-right: 60px;
}


.illustrations{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around !important;
    padding-top: 50px;
}

.ill1{
    max-width:236px;
}

.ill2{
    max-width:236px;
}

.ill3{
    max-width:236px;
}

.ill4{
    max-width:236px;
}

.ill5{
    max-width:236px;
}

.header{
    font-size: 24px;
    font-family: 'futurealight';
    display:grid;
    justify-content:center;
    margin-bottom: 50px;
}